@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#mainContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#projectsDisplay {
    width: 30%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f0f0;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
}

#addProjectButton {
    margin-top: 1rem;
    cursor: pointer;
}

.projectNameContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.deleteProjectButton {
    width: 45%;
    height: auto;
    text-align: center;
    cursor: pointer;
}

#taskContainer {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
}