#mainContentContainer {
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#projectsDisplay {
    width: 30%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
}

.projectNameContainer {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.deleteProjectButton {
    width: 40%;
    height: auto;
    text-align: center;
}

#taskContainer {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
}